.root {
  text-align: center;
}

button {
  width: 70px;
  height: 70px;
  font-size: 50px;
  background: rgba(165, 42, 42, 0.7);
  color: white;
  border-radius: 10px;
  border: none;
  margin: 10px;
  user-select: none;
  outline: none;
  cursor: pointer;
}

button:hover {
  background: rgba(165, 42, 42, 0.9);
}

button:active {
  background: rgba(165, 42, 42, 1.0);
}